services:
    devbox:
        build:
            context: .
            args:
                NEOVIM_VERSION: "${NEOVIM_VERSION:-stable}"
                USER_NAME: "${USER_NAME:-user}"
                USER_ID: "${USER_ID:-1001}"
                GROUP_ID: "${GROUP_ID:-1010}"
                HOST_OS: "${HOST_OS:-Windows}"
                HTTP_PROXY: "${HTTP_PROXY:-}"
                HTTPS_PROXY: "${HTTPS_PROXY:-}"
                NO_PROXY: "${NO_PROXY:-}"
            dockerfile: dockerfile
        image: devbox:latest
        environment:
            - HTTP_PROXY=${HTTP_PROXY:-}
            - HTTPS_PROXY=${HTTPS_PROXY:-}
            - NO_PROXY=${NO_PROXY:-}
        tty: true
    devbox-storage:
        image: busybox
        volumes:
            - devbox-data:/etc/devbox/
            - root-dotssh:/root/.ssh
            - user-dotssh:/home/${USER_NAME}/.ssh
            - nvim-plugin-cache:/etc/nvim/lazy/
            - root-nvim-plugin:/root/.local/share/nvim
            - user-nvim-plugin:/home/${USER_NAME}/.local/share/nvim

volumes:
    devbox-data:
    root-dotssh:
    user-dotssh:
    nvim-plugin-cache:
    root-nvim-plugin:
    user-nvim-plugin:
