services:
  devbox:
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - ./devenv/:/etc/devenv
      - ./ssh/:/etc/ssh/
      - ../projects/:/root/projects-master
      - projects:/root/projects
      - root-dotssh:/root/.ssh
      - unison-archive:/root/.unison
      - nvim-plugin:/root/.local/share/nvim
      - nvim-cache:/root/.cache/nvim
    ports:
      - "${HOST_PORT:-3000}:22"
    tty: true

volumes:
  projects:
  root-dotssh:
  unison-archive:
  nvim-plugin:
  nvim-cache: