services:
    devbox:
        build:
            context: .
            args:
                NEOVIM_VERSION: "${NEOVIM_VERSION:-stable}"
                USER_NAME: "${USER_NAME:-user}"
                HOST_OS: "${HOST_OS:-Windows}"
                HTTP_PROXY: "${HTTP_PROXY:-}"
                HTTPS_PROXY: "${HTTPS_PROXY:-}"
                NO_PROXY: "${NO_PROXY:-}"
            dockerfile: dockerfile
        image: devbox:latest
        environment:
            - HTTP_PROXY=${HTTP_PROXY:-}
            - HTTPS_PROXY=${HTTPS_PROXY:-}
            - NO_PROXY=${NO_PROXY:-}
        volumes:
            - ./:/etc/devbox/
            - ./ssh/:/etc/ssh/
            - ${PROJECTS_DIR:-../projects}:/home/${USER_NAME}/projects
            - root-dotssh:/root/.ssh
            - user-dotssh:/home/${USER_NAME}/.ssh
            - root-nvim-plugin:/root/.local/share/nvim
            - user-nvim-plugin:/home/${USER_NAME}/.local/share/nvim
        ports:
            - "${HOST_PORT:-3000}:22"
        tty: true

volumes:
    root-dotssh:
    user-dotssh:
    root-nvim-plugin:
    user-nvim-plugin:
