services:
  dev_cont:
    build:
      context: .
      dockerfile: dockerfile
    container_name: my_devcontainer
    volumes:
      - ./projects/:/root/projects
      - ./ssh/:/etc/ssh/
      - root-dotssh:/root/.ssh
      - ./devenv/:/etc/devenv
      - nvim-plugin:/root/.local/share/nvim
      - nvim-cache:/root/.cache/nvim
    ports:
      - 3000:22
    tty: true

volumes:
  root-dotssh:
  nvim-plugin:
  nvim-cache: