services:
  devbox:
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - ./devenv/:/etc/devenv
      - ./ssh/:/etc/ssh/
      - ./projects/:/root/projects
      - root-dotssh:/root/.ssh
      - nvim-plugin:/root/.local/share/nvim
      - nvim-cache:/root/.cache/nvim
    ports:
      - "${HOST_PORT:-3000}:22"
    tty: true

volumes:
  root-dotssh:
  nvim-plugin:
  nvim-cache: